<div class="section brand container">
   <div class="section-heading">{{ brand_heading_title }}</div>
  <div id="carousel{{ module }}" class="manufacture-slider owl-carousel">
  {% for banner in banners %}
      <div class="item text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}
  </div>
  </div> 
<script type="text/javascript"><!--

$(document).ready(function(){
$('.manufacture-slider').owlCarousel({
		items: 5,
		autoPlay: false,
		singleItem: false,
		navigation: false,		
		pagination: false,
		itemsDesktop : [1199,4],
		itemsDesktopSmall :	[991,3],
		itemsTablet : [767,3],
		itemsTabletSmall : [479,2],
		itemsMobile : [360,2]
	});
	
});	
--></script>
