<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" /> {% if description %}
  <meta name="description" content="{{ description }}" /> {% endif %} {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" /> {% endif %}
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
  <link href="catalog/view/theme/{{ mytemplate }}/stylesheet/stylesheet.css" rel="stylesheet">
  <link href="catalog/view/theme/{{ mytemplate }}/stylesheet/bootstrap.min.css" rel="stylesheet">
  <link href="catalog/view/theme/{{ mytemplate }}/stylesheet/jquery.fancybox.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/live_search.css" />
  {% if direction=='rtl' %}
<link rel="stylesheet" type="text/css" href="catalog/view/theme/{{ mytemplate }}/stylesheet/rtl.css">
{% endif %}
  <link href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" /> {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" /> {% endfor %} {% for script in scripts %}
  <script src="{{ script }}"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js"></script>
  <script src="catalog/view/javascript/jquery.elevatezoom.min.js"></script>
  <script src="catalog/view/javascript/tabs.js"></script>
  <script src="catalog/view/javascript/parallax.js"></script>
  <script src="catalog/view/javascript/template_js/template.js"></script>
  <script src="catalog/view/javascript/template_js/jquery.firstVisitPopup.js"></script>
  <script src="catalog/view/javascript/simpleswap.js"></script>
  <script src="catalog/view/javascript/jquery.fancybox.js"></script>
  <script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.js"></script>
  <script>
  $(function() {
    $('#subscribe-me').firstVisitPopup({
      cookieName: 'opc3themini1',
      showAgainSelector: '#show-message'
    });
  });
  </script>
  <script>
  $(document).ready(function() {
    $(".quickview").fancybox({
      type: 'iframe'
    });

    $(".fancybox").fancybox();


  });
  </script>
  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" /> {% endfor %} {% for analytic in analytics %} {{ analytic }} {% endfor %}
</head>
{% if column_left and column_right %} {% set layoutclass = 'layout-3' %} {% elseif column_left %} {% set layoutclass = 'layout-2 left-col' %} {% elseif column_right %} {% set layoutclass = 'layout-2 right-col' %} {% else %} {% set layoutclass = 'layout-1' %} {% endif %}

<body class="{{ body_class }} {{ layoutclass }}">
  <nav id="top">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </nav>
  <header class="containar-fluid">
    <div class="row header-top">
      <div class="header-top-left col-sm-4 col-xs-12">
        <div class="free-shipping">
          <a href="#">Free Shipping</a> <span class="hidden-xs hidden-sm hidden-md">Over $150 worldwide</span>
        </div>
      </div>
      <div class="header-logo col-sm-4 col-xs-12">
          <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1> {% endif %}</div>
      </div>
      <div class="header-top-right col-sm-4 col-xs-12">
        <div class="header_menu_dropdown">
          <div id="top-links" class="nav pull-right">
                <ul class="list-inline">
                  <li class="dropdown myaccount"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"> <span class="hidden-sm hidden-md">{{ text_account }}</span><i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                      {% if logged %}
                      <li><a href="{{ account }}">{{ text_account }}</a></li>
                      <li><a href="{{ order }}">{{ text_order }}</a></li>
                      <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                      <li><a href="{{ download }}">{{ text_download }}</a></li>
                      <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                      {% else %}
                      <li><a href="{{ register }}">{{ text_register }}</a></li>
                      <li><a href="{{ login }}">{{ text_login }}</a></li>
                      {% endif %}
                      <li class="wishlist"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
                      <li class="checkout"><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
                  </ul>
                  </li>
                </ul>
                    
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="header-left col-md-2 col-sm-4 col-xs-12 ">
        <div class="header-search ">{{ search }}</div>
      </div>
      <div class="header col-md-8 col-sm-4 col-xs-12 ">
        <div class="header-menu">
          <span class="responsive-bar collapsed " data-target="#responsive-menu" data-toggle="collapse"><i class="fa fa-bars"></i></span> {{ menu }}
        </div>

      </div>
      <div class="header-right col-md-2 col-sm-4 col-xs-12 ">
                  
        
        {{ language }}
                 {{ currency }}
        <div class="header-cart">{{ cart }}</div>

      </div> 
    </div>
  </header>